@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
* {
margin: 0;
padding: 0;
outline: 0;
}
.background {
    position: absolute;
width: 100%;
height: 100%;
left: 0px;
top: 0px;
}
.portaltitle {
    cursor: default;
width: 274px;
height: 157px;
margin-left: 155px;
margin-top: 326px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 157px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
filter: blur(4px);
}
.Mctitle {
    cursor: default;
    position: absolute;
width: 157px;
height: 157px;
left: 390px;
top: 399px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 157px;
text-align: center;

color: #FFFFFF;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
filter: blur(4px);
}
.newmap {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 532px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #FFFFFF;

}
.newmap:hover {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 532px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #a0a0a0;

}
.bonusmap {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 580px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #FFFFFF;
}
.bonusmap:hover {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 580px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #a0a0a0;
}
.credit {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 628px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #FFFFFF;

}
.credit:hover {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 628px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #a0a0a0;

}
.info {
    cursor: default;
    position: absolute;
width: 236px;
height: 48px;
left: 174px;
top: 676px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 39px;

color: #FFFFFF;

}
.info:hover {
    color: #a0a0a0;
}